/* navbar */

#navbar{
    background-color: #ff6666;
    margin-bottom: 0;
}

.logo{
    background-image: url('../images/plane.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 24px;
    margin: 0 auto;
    padding-left: 0;
    width: 40px;
}

.company-name{
    border-right-style: none;
    color: #006633;
    display: block;
    font-family: "Pacifico",sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin: 0px 40px 0px 0px;
    padding-right: 10px;
}

.nav-list{
    display: inline-block;
    list-style: none;
    margin: 5px 0 5px 10px;
    padding-left: 10px;
}

.nav-list a{
    color:white;
    text-decoration: none;
}

.nav-list-item{
    display: inline-block;
    font-size: 24px;
    margin: 0px 30px 0px 30px;
    padding: 0;
}


/*  body */

.bg-color {
    background-color: #993366;
}

.form{
    align-items: center;
    background-image: url('../images/travel.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 80vh;
    justify-content: center;
    margin: 3px;
    width:100%;
}

#map_form{
    border-color: #006633;
    border-style: groove;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3); /*makes text on image easier to see*/
    margin: 20px;
}

#map_form label{
    color: white;
    font-size: x-large;
    font-weight: 900;
}

#map_form span{
    color: white;
    font-size: x-large;
    font-weight: 900;
}
.form_style{
    margin: 0 auto;
    padding-top: 20px;
    text-align: left;
    width: 80%;
}

#map {
        height: 80vh;
        margin: 3px;
        width: 100%;
}

@media screen and (min-width: 728px) {
     .company-name{
        border-right-color: #006633;
        border-right-style: groove;
        display: inline-block;
    }
    
    .form{
         float: left;
         height: 90vh;
         margin: 5px;
         width: 33%;
    }

    #map{
        float: left;
        height: 90vh;
        margin: 5px;
        width: 64%;
    }
}
/*reduces height of form and map in taller screens*/
@media screen and (min-height: 1023px) {
    .form{
         height: 70vh;
    }
    #map{
        height: 70vh;
    }
}

.button_style{
    text-align: center;
}

button{
    border-radius: 12px;
    background-color: white;
    color: black;
    font-size: 16px;
    margin: 10px auto;
    padding: 12px 28px;
    text-align: center;
    width: 50%;
}

button:hover {
  background-color: black;
  color: white;
}

.button:active {
  transform: translateY(4px);
}

.map-input-labels{
    margin-top:50px;
    padding-top:0;
    text-align: center;
}

#about{
    background-color: #ff6666;
    border-style: solid;
    border-color: black;
    clear: both;
    display: block;
    font-family: "sans-serif", Pacifico;
    font-style: oblique;
    font-size: large;
    width:100%;
}

.contact-heading{
    display: block;
    font-family: "sans-serif", Pacifico;
    font-weight: 900;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.center-form{
    background-color: #ff6666;
    border-style: solid;
    border-color: black;
    margin: 0 auto;
    max-width: 100%;
    padding-top: 10px;
    text-align: center;
}

.center-form input {
    border:1px solid #ccc;
    height:24px;
    margin-top:10px;
    margin-left: 10px;
    padding-top:10px;
    vertical-align:top;
    width: 70%;
}

.center-form textarea {
    border:1px solid #ccc;
    margin-top:10px;
    margin-left: 10px;
    padding-top:10px;
    vertical-align:top;
    width: 70%
}
.top{
    display: block;
    color: #ff6666;
    font-family: sans-serif;
    font-size: larger;
    font-weight: 800;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}
.copyright{
    padding: 10px;
    text-align: center;
}



